<h2>Registro de Asistencias</h2>
<hr>
<div class="row">
    <div class="col-sm-3">
        <div class="input-group">
            <label for="dtFechaInicio">Fecha de Inicio</label>
            <input id="dtFechaInicio" type="date" class="form-control" ng-model="fechaInicio" ng-change="showFechas(fechaInicio, fechaFin, trabajadorSelected)" />
        </div>
    </div>
    <div class="col-sm-3">
        <div class="input-group">
            <label for="dtFechaFin">Fecha de Cierre</label>
            <input id="dtFechaFin" type="date" class="form-control" ng-model="fechaFin" ng-change="showFechas(fechaInicio, fechaFin, trabajadorSelected)" />
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <label for="sltTrabajador">Trabajador</label>
            <select id="sltTrabajador" class="form-control"
                ng-options="trabajador as trabajador.full_name for trabajador in trabajadores"
                ng-model="trabajadorSelected"  ng-change="showFechas(fechaInicio, fechaFin, trabajadorSelected)" required>
                <option value="">Selecciona un Trabajador</option>
            </select>
        </div>
    </div>
    <button class="btn" ng-click="showFechas(fechaInicio, fechaFin, trabajadorSelected)"><span class="glyphicon glyphicon-search"></span></button>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Trabajador</th>
                <th>Fecha</th>
                <th>H. Marcación</th>
                <th>H. Entrada</th>
                <th>Marc. Salida</th>
                <th>Tardanza</th>
                <th>Min. Acumulados</th>
                <th>Ocurrencia</th>
                <th>Observación</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="registro in registros">
                <td>{{ registro.trabajador.full_name }}</td>
                <td>{{ registro.fecha }}</td>
                <td>{{ registro.hora_in }}</td>
                <td>{{ registro.horario_hora_in }}</td>
                <td>{{ registro.hora_out }}</td>
                <td>{{ registro.minTarde }}</td>
                <td></td>
                <td>
                    <select class="form-control"
                        ng-options="condicion.id as condicion.descripcion for condicion in condiciones"
                        ng-model="registro.condicion_id" required>
                        <option value="">Selecciona una Condición</option>
                    </select>
                </td>
                <td>{{ registro.observacion }}</td>
            </tr>
        </tbody>
    </table>
</div>