<h1>Registro de Asistencias</h1>
<hr>
<div class="row">
    <div class="col-sm-3">
        <div class="input-group">
            <label for="dtFechaInicio">Fecha de Inicio</label>
            <input id="dtFechaInicio" type="date" class="form-control" ng-model="fechaInicio" />
        </div>
    </div>
    <div class="col-sm-3">
        <div class="input-group">
            <label for="dtFechaFin">Fecha de Cierre</label>
            <input id="dtFechaFin" type="date" class="form-control" ng-model="dtFechaFin" />
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <label for="sltTrabajador">Trabajador</label>
            <select class="form-control" id="sltTrabajador" style="width: 85%">
                <option value="">Selecciona un Trabajador</option>
            </select>
        </div>
    </div>
</div>